<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p id="author">
  <strong>By:</strong>
  <%= @article.author %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<p id="status">
  <strong>Status:</b>
  <%= @article.published? ? 'Published' : 'Unpublished' %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>

<%= link_to 'New Article', new_article_path if current_user.role == 'editor' || 'author' %>
