<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p id="author">
  <strong>By:</strong>
  <%= @article.author %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<p id="status">
  <strong>Status:</b>
  <%= @article.published? ? 'Published' : 'Unpublished' %>
</p>
<%= link_to 'Back', articles_path %>

<% if policy(@article).create? %>
  <%= link_to 'New Article', new_article_path %>
  <%= link_to 'Edit', edit_article_path(@article) %>
<% end %>

<%= render 'comment' %>

<h1>Comments</h1>

<table>
  <tbody>
    <% @article.comments.each do |comment| %>
      <tr>
        <td><%= comment.author %></td>
        <td><%= comment.content %></td>
        <% if current_user.present? && (current_user.editor? || current_user.author?) %>
          <td><%= link_to 'Edit', edit_article_comment_path(@article, comment) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
